$text-sizes: 10, 12, 13, 14, 16, 18, 20, 22, 24, 36, 48;

@each $size in $text-sizes {
  .text-#{$size} {
    font-size: #{$size}px !important;
  }
}

$text-opacitys: 0, 0.3, 0.6, 1;

@each $opacity in $text-opacitys {
  .text-white-#{$opacity * 100} {
    color: #fff;
    opacity: $opacity;
  }
}

.lh-1 {
  line-height: 1;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
}
