$border-radius-degrees: (0, 4, 6, 15, 30) !default;

@each $degree in $border-radius-degrees {
  .btn {
    border-radius: #{$degree}px;
  }
}

.btn {
  padding: .5rem 1.15rem;
}

.btn[class*="btn-outline-"] {
  border-width: 2px;
}
