html,body {
  font-size: 14px;
  height: 100%;
  min-width: 1024px;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #F7F7F7;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility !important;
}

ul.plan-list {
  padding: 0;
  list-style: none;
}

.cursor-pointer {
  cursor: pointer;
}

[v-cloak] {
  display: none;
}

  // Nav
.navbar {
  a {
    color: $navbar-light-color;
  }
  .nav-item-icon {
    font-size: 1.5rem;
    color: $gray-400;
  }
}
