html,body {
  height: 100%;
  min-width: 1024px;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #F7F7F7;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility !important;
}
