// Wrapper
#wrapper {
  //padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  left: 250px;
  width: 0;
  margin-left: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#wrapper.toggled #page-content-wrapper {
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #999999;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #999999;
  background: none;
}

// Navs
.nav-tab-line {
  .nav-link {
    padding: 1em 0;
    margin: 0 1.5em;
    border-bottom: 3px solid transparent;
  }
  .active {
    border-bottom: 3px solid $blue;
  }
}

// Dropdowns

.dropdown-menu {
  min-width: 160px;
  @extend .shadow-30;
  border: none;
  padding: 1rem 0;
  top: 115%;

  .dropdown-item {
    padding: 0.5rem 1.5rem;
    line-height: 20px;

    .material-design-icon {
      font-size: 18px;
      bottom: -0.125rem;
    }
  }

  &::after {
    content: " ";
    width: 10px;
    height: 10px;
    background: #fff;
    display: block;
    position: absolute;
    left: auto;
    right: 20%;
    top: -6px;
    transform: rotate(45deg);
    @extend .shadow-30;
  }
}


// Carousel
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-image: none;
  font-size: 30px;
  color: #fff;
  border: 2px solid #fff9;
  border-radius: 100%;
  line-height: 30px;
  display: inline-block;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;

  .material-design-icon > .material-design-icon__svg {
    bottom: 0 !important;
  }
}

// Breadcrumb
.breadcrumb {
  background: none;

  .breadcrumb-item {
    &:before {
      color: lighten($black, 80);
    }
    a {
      color: lighten($black, 80);
    }
    &.active a {
      color: $white;
    }
  }
}
