// Color System
// stylelint-disable
$blue:      #0078FF;
$indigo:    #6610f2;
$purple:    #5A51DE;
$pink:      #FF004F;
$red:       #E3111A;
$orange:    #FF8F00;
$yellow:    #FFCB00;
$green:     #00DE51;
$teal:      #20c997;
$cyan:      #21C6E0;
$teal-blue: #00CAFF;
$tiffany:   #1ACEB3;
$orchid:    #B959FF;
$bronze:    #C67C3B;
$facebook:  #415A93;
$twitter:   #00CAFF;
$pinterest: #AE2626;
$raisin-black: #212734;
$charcoal: #31394C;
$payne-grey: #3D465E;
$grey-blue: #47536C;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1190px
) !default;


$theme-colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "teal-blue":  $teal-blue,
  "tiffany":    $tiffany,
  "orchid":     $orchid,
  "bronze":     $bronze,
  "facebook":   $facebook,
  "twitter":    $twitter,
  "pinterest":      $pinterest,
  "raisin-black":   $raisin-black,
  "charcoal":       $charcoal,
  "payne-grey":     $payne-grey,
  "grey-blue":      $grey-blue,
);

$spacer: 30px;
$font-family-base: "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-family-sans-serif: Roboto, sans-serif;

$link-color: $raisin-black;
$link-hover-decoration: none;

$list-group-border-color: lighten(#000, 95);

//$input-padding-x: 1.15rem;
//$input-border-width: 2px;
//$input-border-radius: 30px;
//$input-border-radius-lg: 30px;
//$input-border-radius-sm: 30px;
